<!DOCTYPE html>
<html>
<body>

<h1 style="color:SlateGray"> These are images of Restaurants </h1>

<h2 style="Blue;">Shoryu</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/shoryu.jpg" alt="shoryu">
<img src="https://storage.googleapis.com/fakestagram-images/static/shoryu-1.jpg" alt="shoryu">
<img src="https://storage.googleapis.com/fakestagram-images/static/shoryu-2.jpg" alt="shoryu">

<h2 style="Blue;">Indian Tiffin Room</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/indian-tiffin-room-manchester.jpg" alt="indian tiffin room">
<img src="https://storage.googleapis.com/fakestagram-images/static/indian-tiffin-room-1.jpg" alt="indian tiffin room">
<img src="https://storage.googleapis.com/fakestagram-images/static/indian-tiffin-room-2.jpg" alt="indian tiffin room">

<h2 style="Blue;">ASK Italian</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/ask-italian-1.jpg" alt="ASK Italian">
<img src="https://storage.googleapis.com/fakestagram-images/static/ask-italian-manchester.jpg" alt="ASK Italian">
<img src="https://storage.googleapis.com/fakestagram-images/static/ask-italian.jpg" alt="ASK Italian">

<h2 style="Blue;">My Lahore</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/my-lahore-manchester.jpg" alt="My Lahore">
<img src="https://storage.googleapis.com/fakestagram-images/static/my-lahore-manchester-1.jpg" alt="My Lahore">

<h2 style="Blue;">Go Falafel</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/go-falafel.jpg" alt="Go Falafel">
<img src="https://storage.googleapis.com/fakestagram-images/static/go-falafel-1.jpg" alt="Go Falafel">
<img src="https://storage.googleapis.com/fakestagram-images/static/go-falafel-2.jpg" alt="Go Falafel">

<h2 style="Blue;">Nandos</h2>
<img src="https://storage.googleapis.com/fakestagram-images/static/nandos.jpg" alt="cheeky nandos">
<img src="https://storage.googleapis.com/fakestagram-images/static/nandos-1.jpg" alt="cheeky nandos">
<img src="https://storage.googleapis.com/fakestagram-images/static/nandos-piccadilly-manchester.jpg" alt="cheeky nandos">

</body>
